@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>Làm ơn đợi một chút...</Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Không tìm thấy</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Xin lỗi, không có gì ở trang này.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>