<SfDialog Width="350px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"> </DialogEvents>
    <DialogTemplates>
        <Header> @Title Department </Header>
        <Content>
            <EditForm Model="GeneralDepartment" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Id</label>
                            <input @bind="GeneralDepartment.Id" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <InputText @bind-Value="GeneralDepartment.Name" class="form-control" disabled="@isView" />
                        </div> 
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="GeneralDepartment.Email" class="form-control" disabled="@isView" />
                        </div>
                        <div class="form-group mt-1">
                            <label class="form-label">Telephone Number</label>
                            <InputText @bind-Value="GeneralDepartment.TelephoneNumber" class="form-control" disabled="@isView" />
                        </div>
                        <div class="form-group mt-1">
                            <label class="form-label">Location</label>
                            <InputText @bind-Value="GeneralDepartment.Location" class="form-control" disabled="@isView" />
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">Select Director</label>
                            @{
                                string DirectorName = GeneralDepartment.DirectorName == null
                                ? "Not assigned"
                                : GeneralDepartment.DirectorName == "Not assigned"
                                ? "Not assigned"
                                : GeneralDepartment.DirectorName;
                            }
                            <SfDropDownList TValue="Employee" TItem="Employee" CssClass="template" Placeholder="@DirectorName" DataSource="Employees" Enabled="!isDisabled && !isView">
                                <DropDownListTemplates TItem="Employee">
                                    <ItemTemplate Context="employeeContext">
                                        <div>
                                            <img class="empImage" src="@((employeeContext as Employee).Photo)" alt="employee" />
                                            <div class="ename"> @((employeeContext as Employee).Name) </div>
                                            <div class="job"> @((employeeContext as Employee).JobName) </div>
                                        </div>
                                    </ItemTemplate>
                                    <HeaderTemplate>
                                        <div class="header"> <span>Photo</span> <span class="info">Employee Info</span></div>
                                    </HeaderTemplate>
                                    <ValueTemplate Context="employeeContext">
                                        <div class="dropdown-width" style="width:100%;height:100%; margin-left: 8px;">
                                            <div class="name"> @((employeeContext as Employee).Name) </div>
                                        </div>
                                    </ValueTemplate>
                                </DropDownListTemplates>
                                <DropDownListFieldSettings Value="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TValue="Employee" TItem="Employee" ValueChange="OnDirectorChange"></DropDownListEvents>
                            </SfDropDownList>
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        @if (isView)
        {
            <DialogButton Content="CLOSE" IsPrimary="true" OnClick="CloseDialog" />
        }
        else
        {
            <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
        }
    </DialogButtons>
</SfDialog>

@code {
    [Parameter] public GeneralDepartment GeneralDepartment { get; set; } = new();
    [Parameter] public EventCallback<GeneralDepartment> HandleSaveOperationEvent { get; set; }

    public List<Employee> Employees { get; set; } = new();

    private bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";

    private bool isView => Title == "View";

    private bool isDisabled => GeneralDepartment.DirectorName == null;

    public async void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
        await GetEmployees();
    }

    public void CloseDialog()
    {
        IsVisible = false;
        StateHasChanged();
    }

    async void Save()
    {
        if (Title == "Add") GeneralDepartment.DirectorName = "Not assigned";
        if (string.IsNullOrEmpty(GeneralDepartment.Name))
            await dialogService.AlertAsync("You need to provide Department name.", "Alert!");
        else
            await HandleSaveOperationEvent.InvokeAsync(GeneralDepartment);
    }

    private async Task GetEmployees()
    {
        Employees = await branchService.GetAllNonLeader(1084, Constants.BranchBaseUrl);
        StateHasChanged();
    }

    public void ChangeTitle(string title)
    {
        Title = title;
    }

    public void OnDirectorChange(ChangeEventArgs<Employee, Employee> args)
    {
        GeneralDepartment.DirectorId = args.Value.Id;
        GeneralDepartment.DirectorName = args.Value.Name;
    }
}