<SfDialog Width="750px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"> </DialogEvents>
    <DialogTemplates>
        <Header> @Title Employee's Sanction </Header>
        <Content>
            <EditForm Model="ItemModel" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label class="form-label">Employee Id</label>
                                    <input @bind="ItemModel.EmployeeId" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5">
                                <div class="form-group mt-1">
                                    <label class="form-label">Employee Name</label>
                                    <input @bind="EmployeeName" class="form-control" disabled />
                                </div>
                                <div class="form-group mt-2">
                                    <label class="form-label">Ocurring Date</label>
                                    <InputDate @bind-Value="ItemModel.Date" class="form-control" disabled="@isDisabled" />
                                </div>
                                <div class="form-group mt-2">
                                    <label class="form-label">Punishment Date</label>
                                    <InputDate @bind-Value="ItemModel.PunishmentDate" class="form-control" disabled="@isDisabled" />
                                </div>
                                <div class="form-group mt-2">
                                    <label class="form-label">Select Type</label>
                                    @if (ItemModel.SanctionType != null)
                                    {
                                        string selected = ItemModel.SanctionType!.Name!;
                                        <SfDropDownList TValue="string" TItem="SanctionType" Placeholder="@selected" DataSource="SanctionTypes" Enabled="!isDisabled">
                                            <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TValue="string" TItem="SanctionType" ValueChange="OnValueChange"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        <SfDropDownList TValue="string" TItem="SanctionType" Placeholder="Select Type" DataSource="SanctionTypes" Enabled="!isDisabled">
                                            <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TValue="string" TItem="SanctionType" ValueChange="OnValueChange"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group mt-1">
                                    <label class="form-label">Punishment Content</label>
                                    <InputTextArea @bind-Value="@ItemModel.Punishment" class="form-control" rows="4" disabled="@isDisabled" />
                                </div>
                                <div class="form-group mt-2">
                                    <label class="form-label">Description</label>
                                    <InputTextArea @bind-Value="ItemModel.Description" class="form-control" rows="4" disabled="@isDisabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        @if (Title == "View")
        {
            <DialogButton Content="CLOSE" IsPrimary="true" OnClick="CloseDialog" />
        }
        else
        {
            <DialogButton Content="Save" IsPrimary="true" OnClick="Save" />
        }
    </DialogButtons>
</SfDialog>

@code {
    [Parameter] public Sanction ItemModel { get; set; } = new();
    [Parameter] public List<SanctionType> SanctionTypes { get; set; } = new();
    [Parameter] public EventCallback<Sanction> HandleSaveOperationEvent { get; set; }

    public string EmployeeName { get; set; }

    public string Title { get; set; } = "Add";
    private bool IsVisible { get; set; } = false;

    private bool isDisabled => Title == "View";

    private async void Save()
    {
        if (ItemModel.SanctionTypeId <= 0)
            await dialogService.AlertAsync("You need to provide type.", "Alert!");
        else
            await HandleSaveOperationEvent.InvokeAsync(ItemModel);
    }

    public void OpenDialog()
    {
        EmployeeName = ItemModel.Employee?.Name ?? "No Name";
        IsVisible = true;
        StateHasChanged();
    }

    public void CloseDialog()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public void OnValueChange(ChangeEventArgs<string, SanctionType> args) => ItemModel.SanctionTypeId = int.Parse(args.Value.ToString());

    public void ChangeTitle(string title) => Title = title;
}
