@if (ShowDetailsPage)
{
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-success shadow-lg">
                    <div class="card-header">@EmployeeDetails.Name Details</div>
                    <div class="row">
                        <div class="col-md-4 border-end" style="padding-right: 0 !important;">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-start text-center">
                                    <img src="@EmployeeDetails.Photo" alt="Admin" class="rounded-circle" width="171px">
                                </div>
                            </div>
                            <div class="card-header border-top">
                                <h6 class="text-center">Skills Score</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        Technical:
                                    </div>
                                    <div class="col-sm-6 text-end">
                                        @if (AverageEvaluation[0] <= 10)
                                        {
                                            @AverageEvaluation[0]
                                        }
                                        else
                                        {
                                            <div>Not evaluated</div>
                                        }
                                    </div>
                                </div>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: @(AverageEvaluation[0] * 10)%" aria-valuenow="@(AverageEvaluation[0] * 10)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        Communication:
                                    </div>
                                    <div class="col-sm-6 text-end">
                                        @if (AverageEvaluation[1] <= 10)
                                        {
                                            @AverageEvaluation[1]
                                        }
                                        else
                                        {
                                            <div>Not evaluated</div>
                                        }
                                    </div>
                                </div>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: @(AverageEvaluation[1] * 10)%" aria-valuenow="@(AverageEvaluation[1] * 10)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        Teamwork:
                                    </div>
                                    <div class="col-sm-6 text-end">
                                        @if (AverageEvaluation[2] <= 10)
                                        {
                                            @AverageEvaluation[2]
                                        }
                                        else
                                        {
                                            <div>Not evaluated</div>
                                        }
                                    </div>
                                </div>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: @(AverageEvaluation[2] * 10)%" aria-valuenow="@(AverageEvaluation[2] * 10)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        Problem Solving:
                                    </div>
                                    <div class="col-sm-6 text-end">
                                        @if (AverageEvaluation[3] <= 10)
                                        {
                                            @AverageEvaluation[3]
                                        }
                                        else
                                        {
                                            <div>Not evaluated</div>
                                        }
                                    </div>
                                </div>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: @(AverageEvaluation[3] * 10)%" aria-valuenow="@(AverageEvaluation[3] * 10)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        Work Ethic:
                                    </div>
                                    <div class="col-sm-6 text-end">
                                        @if (AverageEvaluation[4] <= 10)
                                        {
                                            @AverageEvaluation[4]
                                        }
                                        else
                                        {
                                            <div>Not evaluated</div>
                                        }
                                    </div>
                                </div>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: @(AverageEvaluation[4] * 10)%" aria-valuenow="@(AverageEvaluation[4] * 10)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 border-end" style="padding-right: 0 !important; padding-left: 0 !important;">
                            <div class="card-header">
                                <h6 class="text-center">Personal Information</h6>
                            </div>
                            <div class="card-body">                                    
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        @EmployeeDetails.Name
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        @EmployeeDetails.Email
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Gender</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        @EmployeeDetails.Gender
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Telephone</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        @EmployeeDetails.TelephoneNumber
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Date Of Birth</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        @EmployeeDetails.DateOfBirth.ToString("MM/dd/yyyy")
                                    </div>
                                </div>
                                <hr>                                    
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Job Name</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        @EmployeeDetails.JobName
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Salary</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        @EmployeeDetails.Salary.ToString("N0") VND
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Address</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">
                                        @EmployeeDetails.Address
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-left: 0 !important;">
                            <div class="card-header">
                                <h6 class="text-center">Office</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">General Department</h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary">
                                        @EmployeeDetails!.Branch!.Department!.GeneralDepartment!.Name
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">Department</h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary">
                                        @EmployeeDetails!.Branch!.Department!.Name
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">Branch</h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary">
                                        @EmployeeDetails!.Branch!.Name
                                    </div>
                                </div>
                            </div>
                            <div class="card-header border-top">
                                <h6 class="text-center">Location</h6>
                            </div>
                            <div class="card-body border-bottom">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">Country</h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary">
                                        @EmployeeDetails!.Town!.City!.Country!.Name
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">City</h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary">
                                        @EmployeeDetails!.Town!.City!.Name
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="mb-0">Town</h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary">
                                        @EmployeeDetails!.Town!.Name
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-danger" @onclick="DetailsPageCloseBtnClicked">Close</button>
                            <div>
                                <button class="btn btn-success" @onclick="EmployeeCertificationsBtnClicked">Certifications</button>
                                <button class="btn btn-success" @onclick="EmployeeBonusesBtnClicked">Bonuses</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>

}

<EmployeeCertificationsDialog @ref="employeeCertificationsDialog"
                              EmployeeDetails="EmployeeDetails"/>

<EmployeeBonusesDialog @ref="employeeBonusesDialog"
                       EmployeeDetails="EmployeeDetails"/>

@code {
    [Parameter] public bool ShowDetailsPage { get; set; }
    [Parameter] public Employee EmployeeDetails { get; set; } = new();
    [Parameter] public EventCallback HandleDetailsPageCloseBtnClicked { get; set; } = new();
    [Parameter] public float[] AverageEvaluation { get; set; } = new float[5];

    EmployeeCertificationsDialog? employeeCertificationsDialog;
    private void EmployeeCertificationsBtnClicked() => employeeCertificationsDialog?.OpenDialog();

    EmployeeBonusesDialog? employeeBonusesDialog;
    private void EmployeeBonusesBtnClicked() => employeeBonusesDialog?.OpenDialog();

    async Task DetailsPageCloseBtnClicked() => await HandleDetailsPageCloseBtnClicked.InvokeAsync();
}
